AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AMI_NAME=""
INSTANCE_TYPE=""
RATIO_DENOMINATOR=""
POLLING_SLEEP_TIME=""
BACKLOG_ADDRESS=""
WIP_ADDRESS=""
FINISHED_ADDRESS=""
NEEDS_ATTENTION_ADDRESS=""
BOT_MAKER_ADDRESS=""